.blogTitleStyle{
    font-size: 1.2rem;
    color: #1E90FF;
    padding: 0 .5rem;
}

.statisticsStyle{
    margin-right: .5rem;
    color: #AAA;
}

.statisticsStyle span{
    display: inline-block;
    padding: 0 .2rem;
}